@model IEnumerable<Models.Band>

<h2>Bands</h2>

<table class="wide">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if(item.Picture != null)
            {
                <img width="200" src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" />
            }
            else
            {
                <img width="200" src="~/Content/Images/noimage.png" />
            }
        </td>
        <td class="bandTitle">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
