@model Models.LineUpItem

<h2>Details</h2>

<fieldset>
    <legend>LineUpItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Error)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Error)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
