@model IEnumerable<Models.LineUpItem>

<h2>Line up</h2>

<table class="wide" id="lineup">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Band", "Index", new { sortOrder = ViewBag.BandSort })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSort })
        </th>
        <th>
            @Html.ActionLink("Time", "Index", new { sortOrder = ViewBag.DateSort })
        </th>
        <th>
            @Html.ActionLink("Stage", "Index", new { sortOrder = ViewBag.StageSort })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if(item.Band.Picture != null)
            {
                <img width="200" src="data:image;base64,@System.Convert.ToBase64String(item.Band.Picture)" />
            }
            else
            {
                <img width="200" src="~/Content/Images/noimage.png" />
            }
        </td>
        <td class="bandTitle">
            @Html.DisplayFor(modelItem => item.Band.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID })
        </td>
    </tr>
}

</table>
